*cache*
*.log
*.out
*.state
fs200.json
secret.py
obsolete/
/log/*
/accessories/ifttt/*
/accessories/netgear/asihttp.py
/accessories/netgear/test.py
/accessories/netgear/netgear.py
/accessories/netgear/pnetgear.py
/accessories/netgear/wndr.py
/setup/rclone.txt
/config/*
/inkplate/test/*
/test/*
/setup/rclone.conf
/inkplate/lib/adafruit-tmp117.py
