[submodule "bottle"]
	path = bottle
	url = https://github.com/bottlepy/bottle
[submodule "HAP-python"]
	path = submod/HAP-python
	url = https://github.com/ikalchev/HAP-python
[submodule "bluepy"]
	path = submod/bluepy
	url = https://github.com/IanHarvey/bluepy
[submodule "submod/eufy/"]
	path = submod/eufy/
	url = https://HJvA@github.com/FuzzyMistborn/python-eufy-security
[submodule "submod/eufy"]
	path = submod/eufy
	url = https://HJvA@github.com/FuzzyMistborn/python-eufy-security
