/*General styles for menu bar*/

.fields{
  border: 2px solid #cccccc;
  border-radius: 1em;
  padding: 0;
  margin: 0;
  display: block;
}

/*Style for the first level menu bar*/
.menubar{ 
  display: flex;
  border-radius: .5em;
  border: 4px solid bisque;
  overflow: hidden;
  /*top:.1em;
  height: calc(3em + 6px);
  width:95.4vw;
  padding-left: .3em;
  position:relative;
  color:#eee;
  */
  margin:1vw;
  padding:0;
  background:#333;  
  box-shadow:0 -3px rgba(0,0,0,.5) inset; 
}

.menuitem, .menuselect {
  float:left;
  position:relative;
  display: block;
  height: 3em;
  /*line-height: 2.8;*/
  margin: 3px;
  background: #4c4e50;
  text-decoration: none;
  overflow: hidden;
  border-radius: .25em;
  margin-right: .1vw;
}
/*
div a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
.menuitem a {
  color: #eee;
  padding: 12px 16px;
  text-decoration: none;
  
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  text-align: left;
}*/
.menuitem button {
  color: #eee;
  font-size: large;
  margin: 0;
  background: transparent;
  border: 0;
  padding: 0; 
  display: block;
  text-align: center;
  height:100%;
  width: 5vw;
  min-width: 3em;
}
.menuitem button:hover {
  background:red;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  overflow-y: scroll;
}

.menuselect {
  line-height: 3.0em;
  /*padding-top: 1em;
   text-align: center;*/
}
.menuselect select {
  height:100%; 
  width: 12vw;
  font-size: large;
  min-width: 5em;
  max-width: 16em;
  margin: 0;
  padding-left: 0.8em;
  color: #eee;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
/* Arrow */
.menuselect::after {
  content: '\25BC';
  position: absolute;
  text-align: center;
  height: 3em;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0em 1vw;
  background: #54695e;
  pointer-events: none;
}

.multiselect option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.multiselect option:checked::before {
  content: "\2611";
}

/* Transition */
.menuitem:hover::after {
  color: #f39c12;
}
.menuitem::after {
  transition: 1.5s all ease;
}