*, *:before, *:after {
	/*box-sizing: inherit;
	/* font:inherit; */
	font-family: Verdana;
}

section, header, footer, article, p {
	/*display: block;
	overflow: hidden;*/
}

body, html {
    background-color: #b2e9e4; 
    /* height: 100vh;*/
}
.headng {
  color: red;
  /*display: block;*/
  font-size: x-large;
  border: 4px solid bisque;
  border-radius: 1em;
  text-align: center;
  padding-top: .6em;
}
.headng > p {
  color: brown;
  font-size: small;
  padding: 0;
}
article{margin:10px;}
svg.graph {
  background-color: #a2c9c0;
  border: 8px solid #cccccc; 
  border-radius: 1em;
}
svg.graph .plotarea {
  background-color: #b2a9d0;
  border: solid bisque;
  border-radius: 1em;
}

svg.graph .grid {
  stroke: white;
  stroke-dasharray: 1 2;
  stroke-width: 1px;
  opacity:0.8;
}
svg.graph .cursor {
  stroke: yellow;
  stroke-dasharray: 1 2;
  stroke-width: 4px;
  opacity:0.8;
}

/*
svg.graph .points {
  stroke: white;
  stroke-width: 3;
}
svg.graph .first_set {
  fill: #00554d;
}
*/
svg.graph .surfaces {
  fill-opacity: 0.5;
}

svg.graph {
  font-family: Verdana;
  font-size: 18px;
  kerning: 1;
}
svg.graph .x-labels {
  /*font-family: Arial; 
  font-size: 24px;  */
  kerning: 1;
}
svg.graph .labels.x-labels {
  text-anchor: middle;
}

svg.graph .labels.y-labels {
}
svg.graph .legend {
}
.hidden {
  display: none;
  }
.atbottom{
	position: fixed;
	bottom: 1em;
	right: 1vw;
	left: 1vw;
}

#statbar {
	position: sticky;
	width: calc(98vw - 1.2em - 4px);
	margin: 0.6em;
	display: block;
	color: brown;
	background: #a2c9c0;
   font-size: small;
	z-index: 3;
	min-height: 2em;
	text-indent:1em;
	border: 4px solid bisque;
	border-radius: 1em; 
	overflow: hidden;
	padding: 0;
	/*
	box-shadow:0 -3px rgba(0,0,0,.5) inset;
	appearance:none;
	margin-left:0vw;
	margin-right: 10vw;
	background: green;
	padding-left:0.0em;
	display: block;
	border-left:0px;
	left:0;
	width:90vw;
	*/
	
}
#statbar.done {
	background: #82a9d0;
}
#statbar.error {
	background: #c00;
}
#statbar.busy {
	background: #b2a9d0;
	border: 1px solid #888;
}
#statbar.ok {
	border: 1px solid #888;
}

#statbar:after {
	content: 'state: ' attr(class);
	text-indent:0;
	position: absolute;
	background: #c00;
	bottom: 0;
	right: 0;
	padding: 0.2em;
	color: white;
	border: 10px solid #888;
}
#statbar .stabilise {
	transition:left 1s ease-out 0.5s;
}